@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Willkommen bei FlowProtocol 2</h1>
    <p>Konserviere die Früchte der menschlichen Intelligenz und mache sie für andere verfügbar!</p>
    <p>
        Erstelle und nutze<br>
        interaktive Anleitungen mit Code-Generierung,<br>
        kriterienbasierte Bewertungssysteme,<br>
        fragengestützte Dokument-Generatoren,<br>
        praktische Hilfsfunktionen<br>
        und vieles andere mehr!        
    </p>
    <p>
        <a asp-page="/FlowPages/SelectMain" class="btn btn-primary">Zur Skriptauswahl</a>
    </p>
</div>
