@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Willkommen bei FlowProtocol 2</h1>
    <p>Konserviere die Früchte der menschlichen Intelligenz und mache sie für andere verfügbar!</p>
</div>
