@page
@model PrivacyModel
@{
    ViewData["Title"] = "Datenschutzerklärung";
}
<h1>@ViewData["Title"]</h1>

<p><em>Letzte Aktualisierung: 05.01.2024</em></p>
<p>Wir freuen uns, dass Sie unsere Anwendung nutzen! Diese Datenschutzerklärung erläutert, wie wir mit Ihren persönlichen Informationen umgehen, während Sie unsere Anwendung verwenden. Bitte lesen Sie diese Erklärung sorgfältig durch, um zu verstehen, wie wir Ihre Daten schützen.</p>

<h4>1. Sammlung von Informationen</h4>
<p>Unsere Anwendung erfordert keine Benutzeranmeldung und sammelt daher keinerlei persönliche Informationen von Ihnen.</p>

<h4>2. Verwendung von Cookies</h4>
<p>Unsere Anwendung verwendet keine Cookies oder ähnliche Tracking-Technologien.</p>

<h4>3. Datenweitergabe an Dritte</h4>
<p>Da wir keinerlei persönliche Informationen sammeln, speichern oder verarbeiten, geben wir keine Daten an Dritte weiter.</p>

<h4>4. Sicherheit</h4>
<p>Wir ergreifen angemessene technische und organisatorische Maßnahmen, um die Sicherheit Ihrer Daten zu gewährleisten. Da wir jedoch keine Daten speichern, besteht kein Risiko eines unbefugten Zugriffs auf Ihre persönlichen Informationen.</p>

<h4>5. Kinder</h4>
<p>Unsere Anwendung richtet sich nicht an Personen unter 16 Jahren. Wir sammeln bewusst keine Informationen von Personen unter 16 Jahren.</p>

<h4>6. Änderungen an der Datenschutzerklärung</h4>
<p>Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Die aktuelle Version ist auf der <a href="https://github.com/maier-san/FlowProtocol2">Projektseite</a> einsehbar.</p>

<h4>7. Kontaktinformationen</h4>
<p>Wenn Sie Fragen oder Bedenken bezüglich unserer Datenschutzerklärung haben, können Sie uns unter der unten genannten E-Mail-Adresse erreichen.</p>
<p>Vielen Dank, dass Sie unsere Anwendung nutzen! Wir schätzen Ihr Vertrauen in uns und möchten Ihnen versichern, dass der Schutz Ihrer Daten für uns von größter Bedeutung ist.</p>
<p><em>
    <a href="mailto:msan@netterchef.de">Wolfgang Maier</a>    
</em></p>

