@using FlowProtocol2.Core;
@model IMHelpInfoBlock;
@if (@Model != null)
{
    @if (@Model != null && @Model.HelpInfoLines.Any())
    {
        <ul>
            <i>
                <span style="color: #993366;">
                    @foreach (var hil in @Model.HelpInfoLines)
                    {
                        <li>
                            @foreach (var hte in hil.TextElements)
                            {
                                @if (!string.IsNullOrEmpty(hte.Link)){@hte.LeadingSpace<a href="@hte.Link" target="_blank">@hte.TrimText</a>}
                                else {@hte.Text}
                            }
                        </li>
                    }
                </span>
            </i>
        </ul>
    }
}