@using FlowProtocol2.Core;
@model OMTextElement;
@if (@Model != null)
{
    @if (Model.Codeformat)
    {
        <code>@Model.Text</code>
    }
    else if (!string.IsNullOrEmpty(Model.Link))
    {
        <a href="@Model.Link" target="_blank">@Model.Text</a>
    }
    else
    {
        @Model.Text
    }
}