@page
@model FlowProtocol2.Pages.FlowPages.NoScriptfileModel
@{
    <h3>Skriptdatei nicht gefunden</h3>
    <p>Das gewählte Skript konnte nicht gefunden oder geladen werden. Bitte wenden Sie sich an den Administrator des
        Systems.</p>
    <p>
        <a asp-page="/FlowPages/SelectMain" class="btn btn-primary">Start</a>
    </p>
}