@page
@model FlowProtocol2.Pages.FlowPages.NoScriptfileModel
@{
}
<h3>Skriptdatei nicht gefunden</h3>
<p>Die gewählte Skript konnte nicht gefunden oder geladen werden. Bitte wenden Sie sich an den Administrator des Systems.</p>